
[user]
        email =jake.causon@freshrelevance.com
        name = Jake Causon
[github]
        user = jake314159
[alias]
        co = checkout
        ci = commit
        st = status
        br = branch
        hist = log --pretty=format:\"%h %ad | %s%d [%an]\" --graph --date=short
        type = cat-file -t
        dump = cat-file -p
        a = add
        p = pull
        stat = diff --stat
        url = remote show origin
[color]
        ui = true
[merge]
    	tool = meld
[core]
        excludesfile = /home/jakec/.gitignore_global
[push]
    	default = current
